.remtittix_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;


}

.remtittix_navbar-links{
    flex: 1;
    display: flex;     
    align-items:center;
    
}


.remtittix_navbar-button{
    display: flex;
    align-self: center; 
}


.remtittix_navbar-button_highlight{
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.remtittix_navbar-links_logo{
    margin-right: 2rem;
    align-items:center;

}

.remtittix_navbar-links_logo img{
    width: 55.71px;
    height: 28.78px;
    -webkit-filter: drop-shadow(5px 5px 5px #041019);
    filter: drop-shadow(1px 1px 2px #041019);
}

.remtittix_navbar-links_logo span{     
    
    font-size: 37.55px;
    font-weight: bold;
    margin-left: 0.2rem;
    text-shadow: 1px 1px 2px #041019;

}
.remtittix_navbar-links_container
{
    display: flex;
    flex-direction: row;
     
       
}

.remtittix_navbar-links_container p, .remtittix_navbar-button p, .remtittix_navbar-menu_container p, .remtittix_navbar-links_logo span
{
    color: #F1F7F7;
    font-family: var(--font-family);
    /* line-height: 18px; */
    font-weight:bold;   
}

.remtittix_navbar-links_container p
{
    font-size: 14px;
    text-transform: capitalize;
    
    margin: 0 1rem;
    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.62px; /* 133% */
    letter-spacing: 0.448px;

    cursor: pointer;
}

.remtittix_navbar-button_container
{    
    border-radius:5px;
    background:red; 
    float:left;
    position: relative;
}

.remtittix_navbar-button_container img 
{  
	left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -15px;
 	position: absolute;
}

.remtittix_navbar-button_container span
{
	display:inline-block;
    width: 120px;
    vertical-align:middle;
}

.remtittix_navbar-button button {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 10px 20px;
    box-sizing: border-box;
    width: 200px; /* Adjust the button width as needed */
    position: relative;
  }
  
.remtittix_navbar-button .btn_content {
    display: flex;
    justify-content: center; /* Centers text and image container within button */
    align-items: center;
    width: 100%;
    position: relative; /* Needed to center text and position the image container */
  }
  
.remtittix_navbar-button  .btn_text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centers text horizontally */
    text-align: center;
    z-index: 1; /* Ensures text stays above the images */
  }
  
  
.remtittix_navbar-button  .btn_image_container {
    position: absolute;
    right: 0px; /* Keeps the image container at the right */
    width: 30px; /* Set width according to image size */
    height: 30px; /* Set height according to image size */
  }
  
  
.remtittix_navbar-button  .btn_Image {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers images within the container */
  }
  
  
.remtittix_navbar-button .btn_Image.bottom {
    z-index: 0; /* Bottom image (blackBtnEllips) */
  }
  
  
.remtittix_navbar-button  .btn_Image.top {
    z-index: 1; /* Top image (whitekArrow) */
  }

/* Ellipses styles */
.ellipse_container {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensures ellipses don't interfere with button clicks */
  }
  
  .ellipse {
    position: absolute;
    border-radius: 50%;
    opacity: 0; /* Start hidden */
    animation: fadeInOut 5s ease-in-out infinite; /* Animation for fade effect */
  }
  
  /* Animation keyframes */
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }
.remtittix_navbar-menu_container{
    z-index: 1;
}  
.remtittix_navbar-button button,
.remtittix_navbar-menu_container button 
{
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: bold;
    width: 250px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #F1F7F7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #041019;
    color: #F1F7F7;
    margin-left: 1.0rem;
    cursor: pointer;

    /* background: #F9FF38;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */     
}

.remtittix_navbar-button .button-highlight{
    background: #F9FF38 !important;
    color: #041019 !important;
    margin-left: 2.5rem !important;
    border: 0 !important;
    outline: none;
}

.remtittix_navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
}
.remittix_3line
{
    position: absolute;      
    right: 0; 
    padding-right: 20px;
}

.remtittix_navbar-menu svg{
    cursor: pointer;
}

.remtittix_navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-bg);
    padding: 1rem;
    position: absolute;
    top: 20px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
    
}

/* Ensure the mobile menu stays unaffected */
.remittix_mobile-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  backdrop-filter: none;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Horizontally center the menu */
  align-items: center; /* Vertically center the menu */
  }
  
  /* When the menu is active (visible) */
  .remittix_mobile-menu.active {
    visibility: visible;
    opacity: 1;
  }
  

/* Main menu container */
.remittix_navbar-menu_container {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    margin-top: 0;
    border-radius: 0 0 7.326px 7.326px;
    background: rgba(2, 8, 14, 0.75);
    box-shadow: 0px 0.611px 0px 0px rgba(255, 255, 255, 0.12) inset;
    backdrop-filter: blur(10.15px);
    max-width: 374px;
    max-height: 577px;
    flex-shrink: 0;
    top:0; 

    position: absolute;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;

    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    text-align:center;
    z-index: 1000;

  }

  /* Transition for sliding down the menu */
.remittix_navbar-menu_container.scale-up-center {
    animation: slideDown 0.4s ease forwards;
  }

  /* Inner container for the menu */
.remittix_navbar-menu_inner {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 355px;
    max-height: 546px;
    flex-shrink: 0;
    border-radius: 7.326px;
    box-shadow: 0px 0.94px 0px 0px rgba(255, 255, 255, 0.12) inset;
     
    background: linear-gradient(64deg, rgba(249, 255, 56, 0.06) 1.07%, rgba(6, 29, 49, 0.06) 86.86%), rgba(255, 255, 255, 0.03);
  }
  
  .remittix_navbar-header {
    display: flex;
    justify-content: center; /* Center the link */
    align-items: center;
    margin-top: 20px;
    position: relative; /* Set relative positioning for absolute elements */
}

/* Logo Link */
.remittix_navbar-links_logo {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    margin: 0 auto; /* Center the link within the container */
}

.remittix_navbar-links_logo img {
    width: 40px;
    margin-right: 10px;
}

.remittix_navbar-links_logo span {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

/* Close Icon - Positioned to the right */
.remittix_navbar-close_icon {
    position: absolute;
    right: 0; /* Align to the right */
    margin-right: 0px;
    cursor: pointer;
}
  
  /* Divider */
  .remittix_navbar-divider {
    width: 304.731px;
    height: 0;
    border-top: 0.65px solid rgba(255, 255, 255, 0.28);
    margin: 37px 0;
  }
  
  /* Menu Items */
  .remittix_navbar-menu_items {
    display: flex;
    flex-direction: column;
    gap: 29px;
    align-items: center;
  }
  
  /* Menu buttons at the bottom */
  .remittix_navbar-menu_container-button {
    margin-bottom: 38px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }


.remtittix_navbar-menu_container p {
    margin:  1rem 0;
}
.remittix_3line{
    display: none;
}
/* Add blur when the menu is open */
.blur-background {
    filter: blur(8px);
    transition: filter 0.3s ease;
  }

@media screen and  (max-width: 1050px)
{
    .remtittix_navbar-links_container, .remtittix_navbar-button {
        display: none;
    }


    .remittix_3line{
        display: flex;
    }

    .remtittix_navbar-button button,
    .remtittix_navbar-menu_container button 
    {
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: bold;
        width: 150px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 8px;
        margin-top: 10px;         
        /* background: #F9FF38;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */     
    }
    
}

@media screen and  (max-width: 700px)
{
    .remtittix_navbar {
        padding: 2rem 2rem;
    }

    .remtittix_navbar-links_logo img{
        width: 33.426px;
        height: 17.268px;
        
    }
    
    .remtittix_navbar-links_logo span{     
        
        font-size: 22.53px;
        font-weight: bold;        
    
    }
    
    
}

@media screen and  (max-width: 700px)
{
    .remtittix_navbar {
        padding: 2rem;
    }
}