/* BlogPage.css */
.BlogsPage {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
  }
  
  .BlogsPage__content {
    width: 100%;
    max-width: 1200px;
    margin-top: 40px;
  }
  